<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h1 style="text-align:center">
                    Students Report List
                </h1>
            </div>
            <div class="col-12 col-md-8 offset-md-2">
                <table id="table" style="width:100%; border-collapse:collapse; border:1px solid #ddd">
                    <thead>
                        <tr>
                            <th style="border:1px solid #ddd; padding:5px">Student Name</th>
                            <th style="border:1px solid #ddd; padding:5px">Assignment</th>
                            <th style="border:1px solid #ddd; padding:5px">Total Mark</th>
                            <th style="border:1px solid #ddd; padding:5px">Student Mark</th>
                        </tr>
                    </thead>
                    <tbody>
            {{#each students}}
                        <tr>
                            <td style="border:1px solid #ddd; padding:5px; text-align:center">
                                {{this.student}}
                            </td>
                            <td style="border:1px solid #ddd; padding:5px; text-align:center">
                                {{this.assignment}}
                            </td>
                            <td style="border:1px solid #ddd; padding:5px; text-align:center">
                                {{this.totalMark}}
                            </td>
                            <td style="border:1px solid #ddd; padding:5px; text-align:center">
                                {{this.studentMark}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
            </div>
        </div>
</body>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script>
    var margin  = {top: 20, right: 20, bottom: 100, left: 60},
        width   = 600 - margin.left - margin.right,
        height  = 400 - margin.top - margin.bottom,
        x       = d3.scale.ordinal().rangeRoundBands([0,width], 0.5),
        y       = d3.scale.linear().range([height,0]);

        var xAxis   = d3.svg.axis()
        .scale(x)
        .orient("bottom");
  var yAxis   = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(5)
        .innerTickSize(-width)
        .outerTickSize(0)
        .tickPadding(10);

        var svg     = d3.select("#wordCountContainer")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
</script>
</html>